.pages-container {
    max-width: 600px;
    padding-top: 100px;
}

.page-container {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    max-height: 400px;
}

.page-title{
    font-size: 32px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.page-footer {
    border-top: 1px solid black;
    padding: 10px;
}

.page-button {
    display: inline-block;
    margin-left: 10px;
}